@model IEnumerable<QuarterlySalesApp.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<p>
    <a asp-action="AddEmployee">Add New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Date of Hire</th>
            <th>Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.DOB.ToShortDateString()</td>
                <td>@item.DateOfHire.ToShortDateString()</td>
                <td>@(item.Manager != null ? $"{item.Manager.FirstName} {item.Manager.LastName}" : "N/A")</td>
            </tr>
        }
    </tbody>
</table>